<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Title</h1>
  <p>Any text you wanna insert here.</p>
</div>

<div class="page-header">
  <h1><%= @title %> <small><%= @date.inspect %></small></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= @group %></th>
          <th># Hits</th>
          <th># Conversions</th>
          <th># Upsells</th>
          <th>$ Sales</th>
          <th>$ Upsells Sales</th>
          <th>$ Avg. Order Value</th>
          <th># Hits converted in orders</th>
        </tr>
      </thead>

      <tbody>
        <% @data.each do |key, values| %>
          <tr class="<%= values[:hits] == 0 ? 'warning' : '' %>">
            <td>
              <% if @url.nil? %>
                <%= key %>
              <% else %>
                <a href="/<%= @url %>/<%= key %>/date/2015-04-21"><%= key %></a>
              <% end %>
            </td>
            <td><%= values[:hits] %></td>
            <td><%= values[:conversions] %></td>
            <td><%= values[:upsells] %></td>
            <td><%= number_to_currency values[:sales] %></td>
            <td><%= number_to_currency values[:total_upsells] %></td>
            <td><%= number_to_currency values[:avg_order_value] %></td>
            <td><%= number_to_percentage values[:hits_to_orders], precision: 0 %></td>
          </tr>
        <% end %>
        <tr class="success">
          <td>Total</td>
          <td><%= @total[:hits] %></td>
          <td><%= @total[:conversions] %></td>
          <td><%= @total[:upsells] %></td>
          <td><%= number_to_currency @total[:sales] %></td>
          <td><%= number_to_currency @total[:total_upsells] %></td>
          <td><%= number_to_currency @total[:avg_order_value] %></td>
          <td><%= number_to_percentage @total[:hits_to_orders], precision: 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
